.Navbar {
  background-color: Navy;
  display: flex;
  padding: 30px;
  font-family: sans-serif;
  color: white;
}

.Navbar__Items {
  display:flex;
}

.Navbar__Link {
  padding-right: 35px;
}

.Navbar__Items--right {
  margin-left:auto;
  padding-top: 30px;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.logo-img{
    position: center;
    margin: 50px 15px 15px 10px;
    left: 0;
    display:inline;
    line-height: 32px;
    padding: 1em;
}
.icon-bar {
    width: 100%;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
h2{
  text-align: center;
  color:grey;
}
h3{
  color:grey;
  text-align: left;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid grey;
  }

    /*---footer--*/
  
 .col { 
  background: navy;
  float: left;
  padding: 30px 0 0 90px;
  width: 350px;
  margin: 10 45px 0 0;
}
 

h2 { 
  
  color: white;
  float: left; 
  font: bold 18px Arial, Helvetica, sans-serif; 
     margin: 0 0 10px 0; 
  padding: 18px 0 0 19px; 
  height: 33px; 
  width: 291px;
  text-align: left;
}
 
ul { 
  list-style: none; 
  margin: 2px; 
  padding: 0; 
}
 
li { 
  
  border-bottom: 1px  #25c3ba; 
  border-top: 1px  #25c3ba; 
  float: left; 
  height: 20px; 
  margin: 5px 0;
  padding: 5px; 
  width: 210px; 
}
 
li a { 
  color: white;
  display: block;
  float: left; 
  font: normal 12px Verdana, Geneva, sans-serif; 
  padding: 10px 0 0 19px; 
  text-decoration: none;
}
 
li:hover { 
  background: navy;
}

.boxed {

  border: 9px;
  background-color: purple;
  height: 110px;
  width: 1319px;

}

h5{
   text-align: center;
   font-size: 30px;
   font-family:sans-serif;
   color:white;
   padding-top: 40px;

}